<header class="relative">
  <nav class="w-100 border-box ph3 ph4-l pv3 sans-serif bb b--black-20 bg-white items-center justify-between-ns justify-end flex">
    <ul class="dn db-ns">
      <li class="mr3">
        <a class="link off-black f5 dib f6" href="/videos" title="Home">
          Video
        </a>
      </li>
      <li class="mr3">
        <a class="link off-black f5 dib f6" href="/stills/" title="Home">
          Stills
        </a>
      </li>
    </ul>
    {% include menu.html %}
    <ul>
      <li>
        <a class="link off-black f5 dib f6" href="/" title="Home">
          Info
        </a>
      </li>
    </ul>
  </nav>
  <a class="logo link off-black f5 dib tc absolute" href="/" title="Home">
    Quinn Cantwell
  </a>
</header>
