<header class="mb50 fixed w-100 bg-white top-0 left-0 z-max">
  <nav class="w-100 h-100 border-box ph3 ph4-l pv3 sans-serif relative">
    <ul class="dn db-ns">
      <li class="mr3">
        <a class="link off-black f5 dib f6" href="{{ site.baseurl }}/videos" title="Home">
          Video
        </a>
      </li>
      <li class="mr3">
        <a class="link off-black f5 dib f6" href="{{ site.baseurl }}/stills" title="Home">
          Stills
        </a>
      </li>
    </ul>
    {% include menu.html %}
    <ul class="absolute right-1 top-1">
      <li>
        <a class="link off-black f5 dib f6" href="{{ site.baseurl }}/info" title="About">
          Info
        </a>
      </li>
    </ul>
  </nav>
  <a class="logo link off-black f5 dib tc absolute" href="{{ site.baseurl }}/" title="Home">
    Quinn Cantwell
  </a>
</header>
