<div class="burger mobile dn-ns db">
  <a href="javascript:;" id="mobile-btn">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </a>
</div>
<div class="mobile-drawer">
  <ul class="w-100">
    <li class="db">
      <a class="w-100 h-100 link off-black f5 f6" href="{{ site.baseurl }}/videos" title="Home">
        Videos
      </a>
    </li>
    <li class="db">
      <a class="w-100 h-100 link off-black f5 f6" href="{{ site.baseurl }}/stills" title="Home">
        Stills
      </a>
    </li>
  </ul>
</div>
