<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.tags }}">
  <meta name="author" content="Quinn Cantwell">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="/uploads/fav.png">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />

</head>

<body>
  {% include header.html %}
  <div class="spacer"> </div>
  {{content}}
</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103814189-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-103814189-2');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>

</html>
