<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Quinn Cantwell</title>
  <link rel="icon" type="image/png" href="/uploads/fav.png">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
</head>

<body>
  {% include header.html %}
  {{content}}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js"></script>

</html>
