---
layout: default
---
<div class="w-100 flex flex-wrap">
  <div class="w-50-l vh-calc-l w-100 vh-75 relative overflow-hidden">
    <div class="flex h-100 items-center justify-center white f1 z-max">
      <a class="white hover-underline" href="{{ site.baseurl }}/videos">
        Videos
      </a>
    </div>
    <video class="w-100 h-100 cover absolute top-0 left-0 obj-cover z-min" playsinline autostart="" autoplay="" loop="" preload="" muted="">
      <source src="{{ site.video }}" type="video/mp4">
    </video>
  </div>

  <div class="w-50-l vh-calc-l w-100 vh-75 relative overflow-hidden">
    <div class="flex h-100 items-center justify-center white f1 z-max">
      <a class="white hover-underline" href="{{ site.baseurl }}/stills">
        Stills
      </a>
    </div>
    <div class="w-100 h-100 cover absolute top-0 left-0 obj-cover z-min" style="background: url({{ site.image }});"></div>
  </div>
</div>
