---
layout: default
---
<div class="w-100 vh-calc flex justify-center-ns items-center-ns items-start bg-near-white">
  <div class="measure f3 lh-copy ph4 pv4">
    Buongiorno! I am a San Francisco-based video director. I have created video and photo content for Everlane, SoulCycle, Reformation, Zegna, and Opening Ceremony.
    I partner with in-house creative and marketing teams to ideate and execute campaigns. I lead or support any aspect: writing, directing, editing, casting, and styling!
    <div class="mt4"> </div>
    I respond most quickly to emails with kitten GIF's: <a href="mailto:quinn.cagney@gmail.com">quinn.cagney@gmail.com</a>
  </div>

</div>
