---
layout: default
---

{% assign category_type = page.category %}

<div class="w-100">
  <div class="cf">
    {% assign sorted = (site.projects | sort: 'position') | reverse %}
    {% for project in sorted %}
    {% if project.layout contains category_type %}
    <a href="{{ site.baseurl }}{{ project.url }}">
      <div style="background-image: url('{{ site.baseurl }}{{ project.thumbnail_image }}')"
      class="fl w-100 w-50-m w-third-l vh-50 h5-m h5-l flex items-center justify-center pointer bgimage">
        <div class="absolute tc white z-999 pointer-none">{{ project.title }}</div>
        <div class="overlay bg-black w-100 h-100 o-0"></div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</div>
